{deps, [
	{kill_bill, {git, "https://github.com/SysVisionINT/kill-bill.git", {branch, "master"}}}
]}.

{provider_hooks, [
	{post, [{compile, {erlydtl, compile}}]}
]}.

%% To use Kill Bill custom tags add the 'kb_dtl_tag' related lines
{erlydtl_opts, [
	{libraries, [{kb_dtl_tag, kb_dtl_tag}]},
	{default_libraries, [kb_dtl_tag]}, 
	{doc_root, "templates"}
]}.

{plugins, [
	{rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

